exportPattern("^[[:alpha:]]+")
import(RcppAlgos)
import(IDSL.UFA)
import(IDSL.IPA)
import(parallel)
importFrom("grDevices", "dev.off")
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "write.csv")
