exportPattern("^[[:alpha:]]+")
import(RcppAlgos)
import(IDSL.UFA)
import(IDSL.IPA)
import(readxl)
import(parallel)
import(doParallel)
import(foreach)
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "write.csv")
